@{
    ViewBag.Title = "Detention Calculatoe";
}

<div class="jumbotron">
    <h1>This is the calculator</h1>
    <p class="lead">The</p>
</div>
<form>

    <div class="row">
        <div class="col-md-2">
            <label>Student</label>
            <input type="text" id="name" />
        </div>
    </div>

</form>
